<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{current_page.data.title || @title} | Dripstr" %></title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6326032/755624/css/fonts.css" />
    <%= stylesheet_link_tag "basscss" %>
  </head>
  <body class="<%= page_classes %>">
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= yield %>

    <footer class="center leading-3 mb4">
      <hr class="hr m2 wrap">
      <span class="mr1 mobile-block small"><%= link_to "About", "#", alt: "About Dripstr" %></span>
      <span class="mr1 mobile-block small"><%= link_to "Curators", "/curators.html", alt: "Curation Team for Dripstr" %></span>
      <span class="mr1 mobile-block small"><%= link_to "Twitter", "https://twitter.com/dripstrcoffee", alt: "Follow @dripstrcoffee on Twitter" %></span>
      <span class="mr1 mobile-block small"><%= link_to "Instagram", "https://instagram.com/dripstr", alt: "Follow @dripstr on Instagram" %></span>
      <span class="mr1 mobile-block small"><%= link_to "Github", "https://github.com/simplecasual/dripstr", alt: "Star or Fork Dripstr on Github" %></span>
      <p class="small mid-gray mobile-hide">
        &copy; 2014 Simple Casual. All rights reserved.
      </p>
    </footer>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                                              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-24725855-3');ga('send','pageview');
    </script>
  </body>
</html>
