<% content_for :meta do %>
  <title>Curation Team | Latte</title>
  <meta name="description" content="">
<% end %>

<div class="container mt4 mb4">
  <article>
    <header class="center">
        <h1 class="h1 sans-serif caps">Curation team</h3>
        <hr class="hr m2 wrap">
    </header>

    <div class="row">
      <% @curators.each do |curator| %>
        <section class="col col-4 center mobile-block" id="<%= curator.name %>">
          <div class="p2">
            <%= image_tag(curator.avatar, class: "full-width circle", alt: curator.name, style: "height: auto;") %>
            <h2 class="h3 caps regular sans-serif m0"><%= curator.name %></h2>
            <h3 class="small regular m0"><%= curator.title %></h3>
            <p class="small"><%= link_to "@#{curator.twitter}", "https://twitter.com/#{curator.twitter}", alt: "Follow #{curator.name} on Twitter" %></p>
          </div>
        </section>
      <% end %>
    </div>
  </article>
</div>

