<footer class="center leading-3 mb4">
  <hr class="hr m2 wrap">
  <span class="mr1 mobile-block small"><%= link_to "Latte", root_path, alt: "Latte, coffee guide" %></span>
  <span class="mr1 mobile-block small"><%= link_to "Curators", curators_path, alt: "Curation Team for Latte" %></span>
  <span class="mr1 mobile-block small"><%= link_to "Contribute", page_path("contribute"), alt: "Contribute to Latte" %></span>
  <span class="mr1 mobile-block small"><%= link_to "Contact", "mailto:hello@latteup.com", alt: "Say Hello to Latte" %></span>
  <br>
  <span class="mr1 mobile-block small"><%= link_to "Twitter", "https://twitter.com/dripstrcoffee", alt: "Follow @dripstrcoffee on Twitter" %></span>
  <span class="mr1 mobile-block small"><%= link_to "Instagram", "https://instagram.com/dripstr", alt: "Follow @dripstr on Instagram" %></span>
  <p class="small mid-gray mobile-hide p1">
    &copy; <%= Time.now.year %> Simple Casual. All rights reserved.
  </p>
</footer>

