<header class="mt4">
  <section class="pt4">
    <div class="measure-wide wrap px2 center">
      <h1 class="h1 caps regular sans-serif m0">
        <%= link_to "Dripstr", "/", alt: 'Dripstr', class: "dark-gray" %>
      </h1>
      <h2 class="h3 mid-gray regular sans-serif caps mb2">
        Curation team
      </h2>
    </div>
  </section>
</header>

<article class="clearfix measure-wide wrap">
  <% data.curators.each do |curator| %>
    <section class="left center mobile-block quarter-width">
      <div class="p1">
        <%= image_tag(curator.image, class: "full-width circle", alt: curator.name, style: "height: auto;") %>
        <h2 class="h3 caps regular sans-serif m0"><%= curator.name %></h2>
        <h3 class="small regular m0"><%= curator.title %></h3>
        <p class="small"><%= link_to "@#{curator.twitter}", "https://twitter.com/#{curator.twitter}", alt: "Follow #{curator.name} on Twitter" %></p>
      </div>
    </section>
  <% end %>
</article>
